* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



html {
    scroll-behavior: smooth;
}

.anker {
    color: #1e00fe;
}

.contact-btn {
    padding: 12px 30px;
    background: #3b50ff;
    color: white;
    border-radius: 30px;
    text-decoration: none;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
    background: #f7f7f7;
    font-size: 14px;
}

.top-nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
    transition: all ease-in-out 0.2s;
}

.top-nav a:hover {
    color: #1e00ff;
}

.top-nav i {
    margin-left: 10px;
    cursor: pointer;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

/* Main menu */

.menu-hover {
    color: #1e00ff;
}

/* icon animation */
.fav-icon {
    font-size: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.fav-icon:hover {
    color: #1e00ff;
    animation: pulse 0.6s ease;
    transform: scale(1.3);
}



/* main website name logo */
.logo {
    color: #3b50ff;
    font-size: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all ease-in-out 0.5s;
}

.logo:hover {
    transform: scale(0.8);
}

/* anker tag style none*/

a {
    text-decoration: none;
}

.search {
    position: relative;
}

.search input {
    padding: 10px 35px 10px 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.search i {
    position: absolute;
    right: 15px;
    top: 12px;
}

.icons i {
    margin-left: 20px;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 30px;
}

.nav-item {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: #111;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.nav-item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #3b50ff;
    transition: width 0.3s ease;
}

.nav-item::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #3b50ff;
    transition: width 0.3s ease;
}


.nav-item:hover {
    color: #3b50ff;
}

.nav-item:hover::before {
    width: 50%;
}

.nav-item:hover::after {
    width: 50%;
}

.dropdown {
    z-index: 2000;
    position: absolute;
    top: 200px;
    width: 100%;
    background: rgb(225, 225, 225);
    display: none;
    animation: slideDown 0.4s ease;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    color: #1e00ff;
}

.box {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 12px;
    transition: transform 0.3s;
}

.box:hover {
    transform: translateY(-10px);
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }


}

.MAIN {
    z-index: 999;
}

/* <!-- ------------------------------Main styleing---------------------------- --> */

/* <!-- ---------carousel------- --> */

.carousel {
    z-index: 0;
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: 80px auto;
    overflow: hidden;
    border-radius: 20px;
}



.carousel-track {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* video{
    width: 82%;
    margin-left: 40px;
} */

/* Navigation Buttons */
.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 28px;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.nav:hover {
    background: black;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

/* Dots */
.dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #bbb;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
    transition: 0.3s;
}

.dot.active {
    background: #3b50ff;
    transform: scale(1.3);
}

/* <!-- -------------------Cards--------------------- --> */

/* #main-items {
    background-color: #007bff;
} */

#main-items>p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #007bff;
    font-size: 20px;
    font-weight: 500;
}

/* #main2{

} */



#Most-Loved-Products>h2 {
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 34px;
}

/* #main3{

} */



#para>p {
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

.card-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-container2 {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #fff;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card1 {
    background: #fff;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card1 img {
    width: 100%;
    display: block;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    display: block;
    transition: transform 0.3s;
}

.card-details {
    padding: 15px;
    text-align: center;
}

.card-details h3 {
    margin-bottom: 10px;
}

.card-details p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.card-details button {
    padding: 8px 15px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.card-details button:hover {
    background: #0056b3;
}

.card1-details button:hover {
    background: #0056b3;
}

/* Hover animation for first 3 cards */
.card:nth-child(-n+4):hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card:nth-child(-n+4):hover img {
    transform: scale(1.1);
}

.card1:nth-child(-n+4):hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card11:nth-child(-n+4):hover img {
    transform: scale(1.1);
}


/* <!-- -------------------video cards--------------- --> */



.card-container3 {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #fff;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card video {
    width: 100%;
    height: 295px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s;
}

.card-details {
    padding: 15px;
    text-align: center;
}

.card-details h3 {
    margin-bottom: 10px;
}

.card-details p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.card-details button {
    padding: 8px 15px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.card-details button:hover {
    background: #0056b3;
}

/* Hover animation */
.video-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.video-card:hover video {
    transform: scale(1.1);
}


/* <!-- ------------------T shirts-------------- --> */

#main-T-shirts {
    margin-top: 50px;
    /* background-color: #0056b3; */
}

#T-shirts {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #007bff;
}

#Top-Wishes {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 23px;
    margin-top: 10px;
}

#para1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
}


/* <!-- ----------------------Trending--------------------- --> */

#Trending-main {
    margin-top: 50px;
    /* background-color: #007bff; */
}

#Trending>p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #007bff;
}

#para3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

/* <!-- marquee --> */

#marq-text {
    margin-top: 60px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}

/* Wrapper */
.marquee-wrapper {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    padding: 20px 0;
}

/* Moving row */
.marquee {
    display: flex;
    gap: 20px;
    animation: marquee-scroll 20s linear infinite;
}

/* Pause on hover */
.marquee-wrapper:hover .marquee {
    animation-play-state: paused;
}

/* Card */
.marquee-card {
    min-width: 160px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.marquee-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.marquee-card p {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

/* Card hover */
.marquee-card:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* Animation */
@keyframes marquee-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* Shop the Feed */

#Shop-the-Feed-main {
    /* background-color: #007bff; */
}

#Shop-the-Feed {
    font-size: 20px;
    font-weight: 700;
    color: #007bff;
    margin-top: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Style-in-Motion {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

#para5 {
    margin-top: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slider {
    margin-bottom: 40px;
    margin-top: 70px;
    display: flex;
    gap: 20px;
    /* overflow-x: auto; */
    padding-bottom: 10px;
}

/* Card */
.video-card1 {

    position: relative;
    width: 260px;
    height: 420px;
    border-radius: 22px;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

/* Video always playing */
.video-card1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/* Bottom overlay */
.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: #fff;
}

.brand {
    font-size: 12px;
    opacity: 0.85;
    text-transform: uppercase;
}

.overlay h4 {
    margin: 6px 0;
    font-size: 16px;
}

.price {
    font-weight: bold;
    font-size: 15px;
}

/* ABOUT US */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    padding: 40px;
}

.policy-container {
    margin-top: 100px;
    max-width: 800px;
    margin: auto;
    border-top: 1px solid #eee;
}

.policy-wrapper {
    border-bottom: 1px solid #eee;
}

/* Header */
.policy-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10px;
    cursor: pointer;
}

.policy-header .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.policy-header h3 {
    font-size: 15px;
    letter-spacing: 1px;
}

.toggle {
    font-size: 26px;
    font-weight: 300;
    transition: transform 0.3s ease;
}

/* Content */
.policy-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 10px;
    transition: max-height 0.4s ease, opacity 0.3s ease;
}

.policy-content p {
    padding: 15px 0;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

/* Active */
.policy-wrapper.active .policy-content {
    max-height: 200px;
    opacity: 1;
}


/* Footer */




.newsletter {
    margin-top: 50px;
    padding: 80px 60px;
    border-bottom: 1px solid #222;
    background-color: #000;
}

.newsletter-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

/* LEFT SIDE */
.newsletter-text {
    max-width: 500px;
}

.small-title {
    font-size: 14px;
    opacity: 0.7;
    color: white;
}

.newsletter-text h1 {
    font-size: 48px;
    margin: 15px 0;
    color: #007bff;
}

.newsletter-text p {
    font-size: 48px;
    margin: 15px 0;
    color: white;
}





.newsletter-text p {
    font-size: 16px;
    opacity: 0.8;
}

/* RIGHT SIDE */
.newsletter-form {
    max-width: 500px;
    width: 100%;
}

.input-box {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    padding: 12px 15px;
}

.mail-icon {
    font-size: 18px;
    margin-right: 10px;
    opacity: 0.8;
}

.input-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 16px;
}

.arrow-btn {
    background: transparent;
    border: none;
    color: #000000;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arrow-btn:hover {
    transform: translateX(5px);
}

.terms {
    font-size: 13px;
    margin: 12px 0 20px;
    opacity: 0.7;
}

.terms strong {
    color: #fff;
    cursor: pointer;
}

/* SOCIAL ICONS */
.social-icons {
    display: flex;
    gap: 15px;
    font-size: 30px;
    color: wheat;
}

.fav {
    color: white;
    transition: all ease-in-out 0.5s;
}


.fav:hover {
    transform: scale(1.5);
}

.social-icons span {
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-icons span:hover {
    background: #fff;
    color: #000000;
}

/* second footer */


footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin-top: 40px;
    text-align: center;
    /* background-color: #821c1c; */
    color: white;
}

